{% extends "base.html" %}

{% block content %}
<h2>Guitar List</h2>

{% for guitar in all_guitars %}
    <div>
        {{guitar.name}}, {{guitar.manufacturer}}
        <div>
            Quantity - {{guitar.quantity}}
        </div>
        <div>
            Description - {{guitar.description}}
        </div>
        <div>
            Cost to Buy (£) - {{guitar.buy_cost}}
        </div>
        <div>
            Selling Price (£) - {{guitar.sell_price}}
        </div>
    </div>

{% endfor %}
<!-- needs form here, see manufacturers page -->
{% endblock %}