{% extends "base.html" %}

{% block content %}

<h1>Sell {{guitar.name}}</h1>

<form action="/guitars/{{guitar.id}}/sell" method="POST">
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id = "quantity" name = "quantity" required>
    </div>
    <div>
    <label for="shop">Shop</label>
        <select name="shop_id" id="shop">
            {% for shop in shops %}
            <option value="{{shop.id}}">{{shop.name}}</option>
            {% endfor %} 
        </select>
        <div>
        <button type="submit">Place Order</button>
        </div>
    </div>
</form>

{% endblock %}