<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabetars - {{title}}</title>
</head>
<body>
    <header>
        <h1>Gabetars Inventory System</h1>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/guitars">Guitars</a>
                    </li>
                    <li>
                        <a href="/manufacturers">Manufacturers</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% block content %}

{% endblock %}
<footer>
    <h4><span>&copy;</span> Gabetars Ltd, a subsidiary of GabeCorp, 2021</h4>
</footer>
</body>
</html>